{% extends 'layoutplot.html' %}

{% block title %} Lay Out total{% endblock %}

{% block css %}

<link scr="stylesheet" href="{{url_for('static',filename='css/page.css')}}">

{% endblock %}

{% block bokeh_script %}

{{ data.js_resources|indent(4)|safe }}
{{ data.css_resources|indent(4)|safe }}
{{ data.plot_script|indent(4)|safe }}

{{ data.js_resources2|indent(4)|safe }}
{{ data.css_resources2|indent(4)|safe }}
{{ data.plot_script2|indent(4)|safe }}


{{ data.js_resources3|indent(4)|safe }}
{{ data.css_resources3|indent(4)|safe }}
{{ data.plot_script3|indent(4)|safe }}


{% endblock %}


{% block body %}
<a class="btn btn-secondary" href="{{url_for('home')}}"> Home</a>
<div class="b-example-divider"></div>


<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Normality Report</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Histogram plot</h3>
          <p>
            The next Graph is histogram graph, and this is very important
            for look normality in the data, but only look, with this histogram you can´t show
            that the data has a normal distribution.
          </p>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">

                {{ data.plot_div|indent(4)|safe }}

          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Q_Q_Plot</h3>
          <p>
            The next Graph is Q_Q graph, and as well histogram plot only, is useful for look the 
            distribution, but you can´t show the normal distribution with a graph, you need a test.

          </p>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
                {{ data.plot_div2|indent(4)|safe }}

          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Other thing that you need to know is the statics intervals</h3>
          <p>
            You can see 3 the statics.
            <ul>
              <p>The first is a tolerance interval, the superior limit is {{data.LST}} and the inferior limit is {{data.LIT}}, this is in PURPLE Color </p>
              <p>The second is a prediction interval, the superior limit is {{data.LSP}} and the inferior limit is {{data.LIP}}, this is in GREEN Color </p>
              <p>The third is a tolerance interval, the superior limit is {{data.LSC}} and the inferior limit is {{data.LIC}}, this is in BLUE Color </p>
            </ul> 
          </p>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              {{ data.plot_div3|indent(4)|safe }}
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
